<div class="home-mobile-img">
    <img src="/assets/images/backgrounds/superduke-home-mobile-500.jpg" class="w-100">
</div>
<div class="home-main-div">   
    <div class="p-3">
        <span class="lead home-logo-span">MotoWorld </span>
        a motorbike is not just a piece of metal on 2 wheels, its an Art, which inspire passion, courage.
        We at MotoWorld helps individuals from all walks of life, choose their Art.
    </div>
    <div class="home-getstarted-div text-center">
        <a [routerLink]="['/popularbikes']" class="btn btn-outline-primary home-getstarted-a">Get Started
            <img class="arrow-icon" src="/assets/images/svgicons/arrow-right-circle.svg">
        </a>
    </div>
</div>