.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;    
    padding: 0;
  }

  @media screen and (min-width: 768px) {    
    .app-main-div {
        background-image: url('/assets/images/backgrounds/superduke-home-web-1700.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        height: 1200px;        
    }
    .menu-icon {
        /*filter: invert(30%) sepia(3%) saturate(2105%) hue-rotate(169deg) brightness(93%) contrast(86%);*/
        filter: invert(6%) sepia(6%) saturate(2511%) hue-rotate(169deg) brightness(95%) contrast(81%);
    }
}

@media screen and (max-width: 768px){   
    .menu-icon {        
        filter: invert(96%) sepia(5%) saturate(351%) hue-rotate(174deg) brightness(91%) contrast(87%);
    }
}