<div class="row mt-5 mx-3 p-0">

    <img class="w-100 h-75 p-0 bikelist-img" src="/assets/images/backgrounds/duke390-bikelist-web-1700.jpg">

</div>
<div class="m-3 bikelist-desc text-start">
    Modle- KTM Duke 390
    <p>The KTM 390 DUKE is a pure example of what draws so many to the thrill of street motorcycling. This Corner Rocket maximizes enjoyment and user value, taking the honors wherever nimble handling counts.</p>
    <a [routerLink]="['/bookconsultation']" class="btn btn-outline-primary bikelist-btn">Book Consultation</a>
</div>


<div class="row m-3 p-0">
    <img class="w-100 h-75 p-0 bikelist-img" src="/assets/images/backgrounds/duke200-bikelist-web-1700.jpg">
</div>
<div class="m-3 bikelist-desc text-start">
    Modle- KTM Duke 200
    <p>It rides faster than it looks. This fighter is the only 200cc naked bike with real racing genes. High-tech components – such as the ultra-compact, water-cooled, single-cylinder, 4-stroke engine, dual-channel ABS and the ultralight tubular trellis frame, state-of-the-art injection electronics.</p>
    <a [routerLink]="['/bookconsultation']" class="btn btn-outline-primary bikelist-btn">Book Consultation</a>
</div>


<div class="row m-3 p-0">
    <img class="w-100 h-75 p-0 bikelist-img" src="/assets/images/backgrounds/adventure390-bikelist-web-1700.jpg">
</div>
<div class="m-3 bikelist-desc text-start">
    Modle- KTM Adventure 390
    <p>Satisfy your restless spirit with the new KTM 390 ADVENTURE. This compact single-cylinder travel-enduro machine has a sporty design attitude, with the comprehensive equipment and proven performance credentials of the KTM ADVENTURE range.</p>
    <a [routerLink]="['/bookconsultation']" class="btn btn-outline-primary bikelist-btn">Book Consultation</a>
</div>


<div class="row m-3 p-0">
    <img class="w-100 h-75 p-0 bikelist-img" src="/assets/images/backgrounds/rc200-bikelist-web-1700.jpg">
</div>
<div class="m-3 bikelist-desc text-start">
    Modle- KTM RC 390
    <p>A sports bike in its purest form, reduced to the essentials--agile, fast, and extremely sporty. Whether you are on country roads or the racetrack, the Moto3 genes are perceptible in every manoeuvre and convey a pure race feeling.</p>
    <a [routerLink]="['/bookconsultation']" class="btn btn-outline-primary bikelist-btn">Book Consultation</a>
</div>