.support-main-div {
    font-weight: 200;
    font-size: 1.5rem;
    color: #ced4da;
    margin-top: 10vh;
}
.support-icon {
    filter: invert(92%) sepia(11%) saturate(130%) hue-rotate(169deg) brightness(91%) contrast(92%);
    margin-right: 3vw;
 }
