<div class="d-flex justify-content-center support-main-div">
    <div class="text-center text-md-start">
        <div class="mb-5 row">
            <div class="col-md-2">
                <img class="support-icon" src="/assets/images/svgicons/message-circle.svg">
            </div>
            <div class="col-md-10">
                Send us a message if you have a query.
            </div>            
        </div>
        <div class="mb-5 row">
            <div class="col-md-2">
                <img class="support-icon" src="/assets/images/svgicons/phone.svg">
            </div>
            <div class="col-md-10">
                Call at +91- 3457868909
            </div>                         
        </div>
        <div class="row">
            <div class="col-md-2">
                <img class="support-icon" src="/assets/images/svgicons/mail.svg">
            </div>
            <div class="col-md-10">
                Drop an e-mail @ support@motoworld.com
            </div>                         
        </div>
    </div>
</div>